@baseColor:#28c7ff;
@boxColor:rgba(10, 10, 0, 0.5);
//@baseColor:#a69;

/*导航条样式设计*/
body{
  //height: 100%;
  //overflow: hidden;
  width: 100%;
  color:@baseColor;
  overflow: hidden;
  background-color: #777;
}
.myNav{
  position: fixed;
  z-index: 99;
  //top:0;
  //left:0;
  border: none;
  margin-bottom:0;
  background-color:rgba(10,10,0,.7);
  width: 100%;

  .container{
    .navbar-header{

      //@media screen and (max-width: 768px){
      //  width: 200px;
      //}
      >h1.H1title{
        text-indent: -99999px;
        position: absolute;
      }

      .myBrand{
        //background: rgba(68,55,28,.7);
        height: 100%;
        @media screen and(max-width: 768px){
          padding: 0;
        }
      }
      @media screen and(max-width: 768px){
        height: 44px;
      }
      >.navbar-toggle{
        margin-bottom: 0;
      }
      >.nav_jianli{
        color:#ff9;
        background-color: transparent;
        font-size: 20px;
        line-height: 40px;
        margin-left: 10px;
        float:left;
        //float:left;
        @media screen and (min-width: 768px){
          font-size: 30px;
          line-height: 78px;

        }
      }
    }
    .navbar-collapse{
      >.nav{
        //height: 78px;
        //height: 100px;
        .dropdown{
          >a{
            position: relative;
            >img{
              width: 100px;
              display: none;
              position: absolute;
              left: 0;
              top:80px;
            }
            &:hover>img{
              display: block;
            }
          }
        }
        >li{
          height: 100%;
        &:hover{
          background-color: rgba(255,255,255,0.3)
        }
          >a{
            height: 100%;
            line-height: 50px;
            color:#fff;
            font-size: 14px;
          }
        }
        >.active{
          >a{
            background-color: rgba(255,255,255,.5);
            color:@baseColor
          }

        }
      }
    }
  }
}
/*飘舞的树叶背景特效*/



#sectionContent{
  >.fp-section{
  }
  >.fp-section:nth-of-type(1){
    padding-top: 90px;
    position: relative;
    background:url("../images/section1_2.jpg") no-repeat center;
    background-size: cover;
    >.introduction{
      >.s1_title{
        padding-top: 80px;
        font-size: 50px;
        >span{
          color:#FF9
        }
        color:@baseColor;
        text-align: center;
        @media screen and (max-width: 768px){
          margin-top: 100px;
        }
      }
      >.textBox{
        bottom: 100px;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        text-align: center;
        color:#FFF;
        font-size: 18px;
      }
    }
  }
  /*个人经历样式*/
  >.fp-section:nth-of-type(2){
    background:url("../images/chun2._bg.jpg") no-repeat center;
    background-size: cover;
    >.experience{
      margin-top: 60px;
      margin-bottom:0px;
      text-align: center;
      //padding-bottom: 80px;
      height: 100%;
      width: 94%;
      @media screen and (min-width: 768px) {
        margin-top: 100px;
        margin-bottom:100px;
      }
      >.myBox{
        background-color: @boxColor;
        box-sizing: border-box;
        //line-height: 100%;
        padding: 4px;
        >h3{
          >p{
            color:#ff9;
          }
        }
        @media screen and (min-width: 768px){
          height: 28%;
          font-size: 20px;

          >h3{
            //水平竖直居中
            position: relative;
            left:50%;
            top: 50%;
            transform: translate(-50%,-50%);
            >p{
              font-size: 16px;
            }
          }
        }
        @media screen and (max-width: 767px){
          //padding-top: 10px;
          height: 10%;
          >h3{
            font-size: 18px;
            >p{
              font-size: 16px;
            }
          }
        }
        >h3{
          color:#fff;

        }
      }
    }
  }
  /*技能掌握样式*/
  >.fp-section:nth-of-type(3){
    position: relative;
    padding-top: 80px;
    background:url("../images/xia_bg2.jpg") no-repeat center;
    background-size: cover;
    //height: 100%;
    >#mychart2{
      height: 100%;
      width: 100%;
    }
    @media screen and (max-width: 768px){
      padding-top:15%;
    }

    >.skillDecs{
      position: absolute;
      right:10%;
      top: 120px;
      //width: 230%;
      height: 30%;
      color:#fff;
      background-color: @boxColor;
      //padding: 20px;
      border-radius: 10px;
      text-indent: 2em;
      overflow: hidden;
      text-overflow: ellipsis;
      //color:@baseColor;
    }
  }
  >.fp-section:nth-of-type(4){
    padding-top: 80px;
    background:url("../images/section2_big.jpg") no-repeat center;
    background-size: cover;
      //头像距离顶部高度设置
      .myBox{
        //position: relative;
        margin:0 auto;
        border-radius: 10px;
        width: 50%;
        height: 250px;
        @media screen and (max-width: 768px){
          width: 100%;
          height:100%;
        }
        /*头像设计*/
        >#avatar{
          margin:0 auto;
          width: 240px;
        }
    }
    .container{
      height: 80%;
      .panel:nth-of-type(1){background: url("../images/program01.PNG") no-repeat center;}
      .panel:nth-of-type(2){background: url("../images/program02.PNG") no-repeat center;}
      .panel:nth-of-type(3){background: url("../images/program03.PNG") no-repeat center;}
      .panel:nth-of-type(4){background: url("../images/program04.png") no-repeat center;}
      .panel:nth-of-type(5){background: url("../images/program05.PNG") no-repeat center;}
      .panel:nth-of-type(6){background: url("../images/program06.PNG") no-repeat center;}
      @media screen and (min-width: 768px) and (max-width: 992px){
        padding-top: 50px;
      }
      >.panel{
        opacity: .9;
        background-size: contain;
        color: #fff;
        padding: 0px;
        height: 28%;
        .panel-heading{
          background-color: @boxColor;
        }
        .panel-body{
          color: #000;
          height: 80%;
          >span{
            display: none;
          }
        }
        &:hover{
          opacity: 1;
          >.panel-heading{
            color:@baseColor;
          }
          >.panel-body{
            >span{
              display: inline;
            }
          }
        }
      }

    }
  }
  >.fp-section:nth-of-type(5){
    padding-top: 80px;
    background:url("../images/section3.jpg") no-repeat center;
    background-size: cover;
    >.container{

      .btn{
        text-align: left;
        width: 300px;
        display: block;
        margin: 20px auto;
        border-radius: 30px;
      }
      .btn:nth-of-type(1){
        background-color: #000;
        color: #fff;
      }
      .btn:nth-of-type(2){
        background-color: rgba(153, 0, 102, 0.8);
        color: #fff;
      }
      .btn:nth-of-type(3){
        background-color: rgba(189, 64, 64, 0.8);
        color: #fff;
      }
      .btn:nth-of-type(4){
        background-color: rgba(59, 89, 152, 0.8);
        color: #fff;
      }
      .btn:nth-of-type(5){
        background-color: rgba(51, 153, 102, 0.8);
        color: #fff;
      }
    }
    #buttomCode{
      display: block;
      margin:0 auto;
    }
  }
}

/*fullpage滚屏样式设计*/
.fp-controller{
  .fp-controller-dotted{
    width: 15px;
    height: 15px;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, .5);
  }
}
#myInfo_1{
  position: fixed;
  left: 40px;
  bottom: 40px;
  border-radius: 50%;
  width: 50px;
  background-color: #fff;
  background: url("../images/me.jpg");
  height: 50px;
  background-size: 50px 50px;
  padding: 0;
  border: 0;

  >img{
    width: 100%;
    border-radius: 50%;
    display: block;
  }
}
/*飘落的叶子样式设计*/
.myLeaf {
  position: fixed;
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  background: url('../images/leaf4.png') no-repeat center;
  background-size: 100%;
  transform-style: preserve-3d;
  backface-visibility: visible;
  box-shadow: 1px 3px -3px 3px -3px rgba(255,255,255,1);
}

