/*��������ʽ����*/
body {
  height: 100%;
  overflow: hidden;
  width: 100%;
  color: #28c7ff;
}
.myNav {
  position: fixed;
  z-index: 99;
  border: none;
  margin-bottom: 0;
  background-color: rgba(10, 10, 0, 0.7);
  width: 100%;
}
.myNav .container .navbar-header > h1.H1title {
  text-indent: -99999px;
  position: absolute;
}
.myNav .container .navbar-header .myBrand {
  height: 100%;
}
@media screen and (max-width: 768px) {
  .myNav .container .navbar-header .myBrand {
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
  .myNav .container .navbar-header {
    height: 44px;
  }
}
.myNav .container .navbar-header > .navbar-toggle {
  margin-bottom: 0;
}
.myNav .container .navbar-header > .nav_jianli {
  color: #ff9;
  background-color: transparent;
  font-size: 20px;
  line-height: 40px;
  margin-left: 10px;
}
@media screen and (min-width: 768px) {
  .myNav .container .navbar-header > .nav_jianli {
    font-size: 30px;
    line-height: 78px;
  }
}
.myNav .container .navbar-collapse > .nav > li {
  height: 100%;
}
.myNav .container .navbar-collapse > .nav > li:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.myNav .container .navbar-collapse > .nav > li > a {
  height: 100%;
  line-height: 50px;
  color: #fff;
  font-size: 14px;
}
.myNav .container .navbar-collapse > .nav > .active > a {
  background-color: rgba(255, 255, 255, 0.5);
  color: #28c7ff;
}
/*Ʈ������Ҷ������Ч*/
#sectionContent {
  /*��ҳ��ʽ����*/
  height: 100%;
  /*���˾�����ʽ*/
  /*����������ʽ*/
}
#sectionContent > .fp-section:nth-of-type(1) {
  position: relative;
  background: url("../images/section1_2.jpg") no-repeat center;
}
#sectionContent > .fp-section:nth-of-type(1) > .introduction > .myAvatar {
  padding-top: 100px;
}
#sectionContent > .fp-section:nth-of-type(1) > .introduction > .myAvatar .myBox {
  margin: 0 auto;
  border-radius: 10px;
  width: 50%;
  height: 350px;
  /*ͷ������*/
}
@media screen and (max-width: 768px) {
  #sectionContent > .fp-section:nth-of-type(1) > .introduction > .myAvatar .myBox {
    width: 100%;
    height: 100%;
  }
}
#sectionContent > .fp-section:nth-of-type(1) > .introduction > .myAvatar .myBox > #avatar {
  margin: 0 auto;
  width: 240px;
}
#sectionContent > .fp-section:nth-of-type(1) > .introduction > .myAvatar .myBox > .nameBox {
  width: 280px;
  margin: 0 auto;
}
#sectionContent > .fp-section:nth-of-type(1) > .introduction > .myAvatar .myBox > .nameBox > .myName {
  font-size: 24px;
  text-align: left;
  font-weight: 700;
  color: #28c7ff;
}
#sectionContent > .fp-section:nth-of-type(1) > .introduction > .myAvatar .myBox > .nameBox > .myName:hover {
  font-size: 30px;
  border-bottom: 1px solid #fff;
}
#sectionContent > .fp-section:nth-of-type(1) > .introduction > .myAvatar .myBox > .nameBox > .myName > span {
  text-align: right;
  color: #fff;
}
#sectionContent > .fp-section:nth-of-type(1) > .introduction > .s1_title {
  margin-top: -100px;
  font-size: 50px;
  color: #28c7ff;
  text-align: center;
}
#sectionContent > .fp-section:nth-of-type(1) > .introduction > .s1_title > span {
  color: #FF9;
}
@media screen and (max-width: 768px) {
  #sectionContent > .fp-section:nth-of-type(1) > .introduction > .s1_title {
    margin-top: 100px;
  }
}
#sectionContent > .fp-section:nth-of-type(1) > .introduction > .textBox {
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  text-align: center;
  color: #FFF;
  font-size: 18px;
}
#sectionContent > .fp-section:nth-of-type(2) {
  background: url("../images/chun2._bg.jpg") no-repeat center;
  background-size: cover;
}
#sectionContent > .fp-section:nth-of-type(2) > .experience {
  margin-top: 60px;
  margin-bottom: 0px;
  text-align: center;
  height: 100%;
}
@media screen and (min-width: 768px) {
  #sectionContent > .fp-section:nth-of-type(2) > .experience {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}
#sectionContent > .fp-section:nth-of-type(2) > .experience > .myBox {
  background-color: rgba(10, 10, 0, 0.5);
  box-sizing: border-box;
  padding: 4px;
}
#sectionContent > .fp-section:nth-of-type(2) > .experience > .myBox > h3 > p {
  color: #ff9;
}
@media screen and (min-width: 768px) {
  #sectionContent > .fp-section:nth-of-type(2) > .experience > .myBox {
    height: 28%;
    font-size: 20px;
  }
  #sectionContent > .fp-section:nth-of-type(2) > .experience > .myBox > h3 {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  #sectionContent > .fp-section:nth-of-type(2) > .experience > .myBox > h3 > p {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  #sectionContent > .fp-section:nth-of-type(2) > .experience > .myBox {
    height: 10%;
  }
  #sectionContent > .fp-section:nth-of-type(2) > .experience > .myBox > h3 {
    font-size: 18px;
  }
  #sectionContent > .fp-section:nth-of-type(2) > .experience > .myBox > h3 > p {
    font-size: 16px;
  }
}
#sectionContent > .fp-section:nth-of-type(2) > .experience > .myBox > h3 {
  color: #fff;
}
#sectionContent > .fp-section:nth-of-type(3) {
  background: url("../images/xia_bg2.jpg") no-repeat center;
  background-size: cover;
}
#sectionContent > .fp-section:nth-of-type(4) {
  background: url("../images/section2_big.jpg") no-repeat center;
  background-size: cover;
}
#sectionContent > .fp-section:nth-of-type(5) {
  background: url("../images/section3.jpg") no-repeat center;
  background-size: cover;
}
/*fullpage������ʽ����*/
.fp-controller .fp-controller-dotted {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}
/*Ʈ����Ҷ����ʽ����*/
.myLeaf {
  position: fixed;
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  background: url('../images/leaf4.png') no-repeat center;
  background-size: 100%;
  transform-style: preserve-3d;
  backface-visibility: visible;
  box-shadow: 1px 3px -3px 3px -3px #ffffff;
}
